@charset "utf-8";
/* CSS Document */

.cloud2 {
    display: inline;
    list-style-type: none;
	text-align: center;
}
.cloud2 li {
    list-style: none;
    display: inline;
}
.cloud2 li:nth-of-type(3n + 1) {
    font-size: 1.25em;
}
.cloud2 li:nth-of-type(4n + 3) {
    font-size: 1.5em;
}
.cloud2 li:nth-of-type(5n - 3) {
    font-size: 1em;
}